@{
    ViewBag.Title = "Developing Web Developer";
}
<section id="feature-section" class="feature-section wf-section">
    <div class="flex-container w-container">
        <div id="about" class="aboutMe"><img src="~/Content/HireMe-p-500.jpeg" alt="" class="feature-image aboutImage"></div>
        <div>
            <h2>About Me</h2>
            <p>
                I’m a former Director of Operations turned Web Developer.  I’ve always had a desire to take on new challenges and be better than I was the day before.  Web development suits me well, because it gives me the ability to take on different challenges and use the creative, and complex, problem-solving techniques I’ve obtained through my previous work experience, and apply them to come up with solutions.  My background in management has taught me patience, approachability, and communication; traits that are vital when working in a team environment.

            </p>
        </div>
    </div>
</section>
<section class="call-to-action-section wf-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-8">
                <h2 class="call-to-action-heading">Let's Team Up!</h2>
            </div>
            <div class="align-right w-col w-col-4">
                <a href="~/Home/Resume#resume" class="hollow-button white">View My Resume</a>
            </div>
        </div>
    </div>
</section>
<section id="gallery" class="section wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">Portfolio</h2>
            <div class="section-subheading center">Check out my latest projects</div>
        </div>
        <!--Fed1 Studio Project = Mock Training Website-->

        <label id="galleryLabel">
            <a href="http://fed1studioproject.c-mitchell.com/" target="_blank" class="grid-fours" id="galleryStyle">
                <img src="~/Content/PolarBear_AboutUs.jpeg" alt="Image of a Polar Bear" title="Wilderness Survivalists" id="galleryPic" style="padding-bottom: 3px" />Survivalist Classes
            </a>

            <!--BACKS WITH PACKS STOREFRONT-->
        </label>
        <label id="galleryLabel">
            <a href="http://storefront.c-mitchell.com/" target="_blank" class="grid-fours" id="galleryStyle">
                <img src="~/Content/BacksWithPacksPortPic.jpg" alt="Backs with Pack Logo - Mock store front" title="Back with Packs" id="galleryPic" style="padding-bottom: 3px" />Mock Storefront
            </a>
        </label>

        <!--REACT TODO APPLICATION-->
        <label id="galleryLabel">
            <a href="http://reacttodo.c-mitchell.com/" target="_blank" class="grid-fours" id="galleryStyle">
                <img src="~/Content/ToDoHome.jpg" alt="Todo Home Page" title="Todo Home Page" id="galleryPic" style="padding-bottom: 3px" />React Todo App
            </a>
        </label>

        <div id="clear"></div>

        <!--REACT API-->
        <label id="galleryLabel">
            <a href="http://api.c-mitchell.com/" target="_blank" class="grid-fours " id="galleryStyle">
                <img src="~/Content/APITodo.jpg" alt="ToDo API home screen" title="Todo API" id="galleryPic" style="padding-bottom: 3px" />ToDo API
            </a>
        </label>

        <!--CSF Project - Dungeon Crawler-->
        <label id="galleryLabel">
            <a href="https://github.com/cmitchell14/DungeonApp.git" target="_blank" class="grid-fours" id="galleryStyle">
                <img src="~/Content/EscapadesOfTheElf.JPG" alt="Code Snippet of the Blunderous Escapades of the Elf" title="Escapades of the Elf" id="galleryPic" style="padding-bottom: 3px" />Escapades of the Elf
            </a>
        <!--SAT Application - Bullworth Academy-->
        </label>
        <label id="galleryLabel">
            <a href="http://sat.c-mitchell.com/" target="_blank" class="grid-fours galleryPhone" id="galleryStyle">
                <img src="~/Content/PPBully@600x-100.jpg" rel="noreferrer" alt="Bully Logo" title="SAT Application Mock Site" id="galleryPic" style="padding-bottom: 3px" />SAT Application
            </a>
        </label>



    </div>
</section>