@{
    ViewBag.Title = "Home Page";
}
<section id="feature-section" class="feature-section wf-section">
    <div class="flex-container w-container">
        <div id="about" class="feature-image-mask"><img src="~/Content/HireMe-p-500.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 251.28125px, 25vw" srcset="~/Content/HireMe-p-500.jpeg 500w, ~/Content/HireMe-p-800.jpeg 800w, ~/Content/HireMe-p-1080.jpeg 1080w, ~/Content/HireMe-p-1600.jpeg 1600w, ~/Content/HireMe.jpg 1936w" alt="" class="feature-image"></div>
        <div>
            <h2>About Me</h2>
            <p>This is a bunch of jibberish <strong>that will be about me.</strong>For now, Lorem ipsum will do. Cule dolce golga lora lorem ipsum. Cule dolce golga lora lorem ipsum. Cule dolce golga lora lorem ipsum. Cule dolce golga lora lorem ipsum.</p>
        </div>
    </div>
</section>
<section class="call-to-action-section wf-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-8">
                <h2 class="call-to-action-heading">Here you can put some text</h2>
            </div>
            <div class="align-right w-col w-col-4">
                <a href="#" class="hollow-button white">Call To Action</a>
            </div>
        </div>
    </div>
</section>
<section id="gallery" class="section wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">Portfolio</h2>
            <div class="section-subheading center">Check out my latest projects</div>
        </div>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/1f510c30-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "url": "images/1f510c30-500px.jpg",
                "fileName": "610890f9e2d870d594b79d08_1f510c30-500px.jpg",
                "origFileName": "1f510c30-500px.jpg",
                "width": 500,
                "height": 500,
                "size": 28987,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/1fbb59d6-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "id": "5537c6aafdb0e2d6015c563b",
                "url": "images/1fbb59d6-500px.jpg",
                "fileName": "example-bg.png",
                "origFileName": "example-bg.png",
                "width": 250,
                "height": 250,
                "size": 3618,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "id": "5537c6aa5f1065d401ce049c",
                "url": "images/2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg",
                "fileName": "example-bg.png",
                "origFileName": "example-bg.png",
                "width": 250,
                "height": 250,
                "size": 3618,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/2c0343f7-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "url": "images/2c0343f7-500px.jpg",
                "fileName": "610890f9e2d87018f0b79d13_2c0343f7-500px.jpg",
                "origFileName": "2c0343f7-500px.jpg",
                "width": 500,
                "height": 500,
                "size": 21945,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/3ae98ccd-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "id": "5537c6ab5f1065d401ce049d",
                "url": "images/3ae98ccd-500px.jpg",
                "fileName": "example-bg.png",
                "origFileName": "example-bg.png",
                "width": 250,
                "height": 250,
                "size": 3618,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "id": "5531240438615e9e376d44cd",
                "url": "images/4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg",
                "fileName": "example-bg.png",
                "origFileName": "example-bg.png",
                "width": 250,
                "height": 250,
                "size": 3618,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "id": "5537c6ab5f1065d401ce049e",
                "url": "images/1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg",
                "fileName": "example-bg.png",
                "origFileName": "example-bg.png",
                "width": 250,
                "height": 250,
                "size": 3618,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
        <a href="#" class="grid-fours w-inline-block w-lightbox">
            <img src="images/4e769802-500px.jpg" alt="">
            <script type="application/json" class="w-json">
                {
                "items": [
                {
                "id": "5537c6ab76ee39080f7f1b88",
                "url": "images/4e769802-500px.jpg",
                "fileName": "example-bg.png",
                "origFileName": "example-bg.png",
                "width": 250,
                "height": 250,
                "size": 3618,
                "type": "image"
                }
                ]
                }
            </script>
        </a>
    </div>
</section>