
@{
    ViewBag.Title = "Resume";
}

<section id="contact" class="section section-gray wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2  id="resume" class="section-heading centered">My Resume</h2>
            <div class="section-subheading center">Let's team up!</div>
            <div class=" feature-section centered-container" style="background-color:transparent">
                <div class="center">
                    <a href="~/Content/CalebMitchellResume.pdf" target="_blank" class="center">
                        <img src="~/Content/ResumePic.JPG" />
                    </a>
                </div>
                <br />
                <div class="center" style="padding-bottom:50px">

                </div>
                <a href="~/Content/CalebMitchellResumeIT.pdf" class="button full-width" target="_blank" style="color:white; width:45%;display:inline-block">Download My Resume</a>
            </div>
        </div>
    </div>
</section>

