
@{
    ViewBag.Title = "My Resume";
}

<section id="contact" class="section section-gray wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">My Resume</h2>
            <div class="section-subheading center">Feel free to reach out!  Let's work on something together!</div>
            <div class=" feature-section centered-container" style="background-color:transparent">
                <div class="center">
                    <a href="~/Content/CalebMitchellResume.pdf" target="_blank" class="center">
                        <img src="~/Content/MyResume.JPG" />
                    </a>
                </div>
                <br />
                <div class="center" style="padding-bottom:50px">

                </div>
                <a href="~/Content/CalebMitchellResume.pdf" class="center button" target="_blank" style="color:white">Download My Resume</a>
            </div>
        </div>
    </div>
</section>

