
@{
    ViewBag.Title = "My Centriq Team";
}

<section class= "wf-section section-gray">
    <div class="w-container">
        <div class="section-title-group">
            <h2 style="color:white; margin-top: 2em" class="section-heading centered">@ViewBag.Title</h2>
        </div>
    </div>

    <div class="w-container"  id="colleagues">
        <div class="card peerImage" style="width: 18rem;">
            <a href="http://jacobroelofsz.com/" target="_blank" rel="noreferrer">
                <img src="~/Content/CentriqClassPics/jacob.jpg" alt="Jacob Roelofsz" />
            </a>
            <div class="card-body">
                <a href="http://jacobroelofsz.com/" target="_blank" rel="noreferrer">
                    <p class="teamText">Jacob Roelofsz</p>
                </a>
            </div>
        </div>

        <div class="card peerImage" style="width: 18rem;">
            <a href="http://jacobroelofsz.com/" target="_blank" rel="noreferrer">
                <img src="~/Content/CentriqClassPics/BillPic.jpg" alt="William McCarty" />
            </a>
            <div class="card-body">
                <a href="http://jacobroelofsz.com/" target="_blank" rel="noreferrer">
                    <p class="teamText">William McCarty</p>
                </a>
            </div>
        </div>

        <div class="card peerImage" style="width: 18rem;">
            <a href="http://coreymanderson.com/" target="_blank" rel="noreferrer">
                <img src="~/Content/CentriqClassPics/coreymanderson.jpg" alt="Corey Anderson" />
            </a>
            <div class="card-body">
                <a href="http://coreymanderson.com/" target="_blank" rel="noreferrer">
                    <p class="teamText">Corey Anderson</p>
                </a>
            </div>
        </div>

        <div class="clear"></div>

        <div class="card peerImage" style="width: 18rem;">
            <a href="http://amandaallen.net//" target="_blank" rel="noreferrer">
                <img src="~/Content/CentriqClassPics/amandaallen.jpg" alt="Amanda Allen" />
            </a>
            <div class="card-body">
                <a href="http://amandaallen.net//" target="_blank" rel="noreferrer">
                    <p class="teamText">Amanda Allen</p>
                </a>
            </div>
        </div>

        <div class="card peerImage" style="width: 18rem;">
            <a href="http://d2107asmith-001-site1.mysitepanel.net/" target="_blank" rel="noreferrer">
                <img src="~/Content/CentriqClassPics/ashleysmith.jpg" alt="Ashley Smith" />
            </a>
            <div class="card-body">
                <a href="http://d2107asmith-001-site1.mysitepanel.net/" target="_blank" rel="noreferrer">
                    <p class="teamText">Ashley Smith</p>
                </a>
            </div>
        </div>

        <div class="card peerImage" style="width: 18rem;">
            <a href="http://michaelrussell.net/" target="_blank" rel="noreferrer">
                <img src="~/Content/CentriqClassPics/michaelrussell.jpg" alt="Michael Russell" />
            </a>
            <div class="card-body">
                <a href="http://michaelrussell.net/" target="_blank" rel="noreferrer">
                    <p class="teamText">Michael Russell</p>
                </a>
            </div>
        </div>

        <div class="clear"></div>
    </div>


</section>








@*<div class="form-wrapper squeezed w-form">
                <div class="w-row">
                    <div>
                        <div class="w-col-12">
                            <div>
                                <a  class="peerImage" href="http://jacobroelofsz.com/" target="_blank" rel="noreferrer">
                                    <img src="~/Content/CentriqClassPics/jacob.jpg" alt="Jacob Roelofsz" />
                                    <p class="teamText">Jacob Roelofszs</p>
                                </a>
                            </div>
                            <div>
                                <a class="peerImage" href="http://william-mccarty.com/" target="_blank" rel="noreferrer">
                                    <img src="~/Content/CentriqClassPics/BillPic.jpg" alt="William McCarty" />
                                    <p class="teamText">William McCarty</p>
                                </a>
                            </div>
                            <div>
                                <a class="peerImage" href="http://coreymanderson.com/" target="_blank" rel="noreferrer">
                                    <img src="~/Content/CentriqClassPics/coreymanderson.jpg" alt="Corey Anderson" />
                                    <p class="teamText">Corey Anderson</p>
                                </a>
                            </div>
                        </div>
                        <div class="w-col-12">
                            <div>
                                <a  class="peerImage" href="http://amandaallen.net//" target="_blank" rel="noreferrer">
                                    <img src="~/Content/CentriqClassPics/amandaallen.jpg" alt="Amanda Allen" />
                                    <p class="teamText">Amanda Allen</p>
    </a>
                            </div>
                            <div>
                                <a class="peerImage"  href="http://d2107asmith-001-site1.mysitepanel.net/" target="_blank" rel="noreferrer">
                                    <img src="~/Content/CentriqClassPics/ashleysmith.jpg" alt="Ashely Smith" />
                                    <p class="teamText">Ashely Smith</p>
    </a>
                            </div>
                            <div>
                                <a  class="peerImage" href="http://michaelrussell.net/" target="_blank" rel="noreferrer">
                                    <img src="~/Content/CentriqClassPics/michaelrussell.jpg" alt="Michael Russell" />
                                    <p class="teamText">Michael Russell</p>
    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

