@model PersonalPortfolioSiteV2.UI.MVC.Models.ContactViewModel
    @{
        ViewBag.Title = "Email Confirmation";
    }

<section id="feature-section" class="feature-section wf-section">
    <div class="flex-container w-container">
        <div id="about" class="feature-image-mask"><img src="~/Content/HireMe-p-500.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 550px) 251.28125px, 25vw" srcset="~/Content/HireMe-p-500.jpeg 500w, ~/Content/HireMe-p-800.jpeg 800w, ~/Content/HireMe-p-1080.jpeg 1080w, ~/Content/HireMe-p-1600.jpeg 1600w, ~/Content/HireMe.jpg 1936w" alt="" class="feature-image"></div>
        <div>
            <h3>Thanks for the message!</h3>
            <h4>I will get back with you as soon as possible.</h4>
        </div>
    </div>
</section>


